In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
performance=pd.read_csv('E474_FuelSystem.csv')

In [ ]:
performance.head()

   Fuel Temperature  ...  Suitable
0                40  ...          1
1                40  ...          1
2                40  ...          1
3                40  ...          1
4                40  ...          1

[5 rows x 8 columns]

In [ ]:
performance=performance.drop(['Fuel Temperature'],axis=1).drop(['Rail Pressure Demand (bar)'],axis=1)

In [ ]:
performance.head()

   Engine Speed  ...  Suitable
0          0.00  ...          1
1          0.00  ...          1
2        866.00  ...          1
3        879.25  ...          1
4        873.75  ...          1

[5 rows x 6 columns]

In [ ]:
X = performance.iloc[:, :-1].values
y=performance.iloc[:,5].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 7)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=7,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = classifier.predict(X_test)
print(y_pred)

[0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(result)
result1 = classification_report(y_test, y_pred)
print("Classification Report:",)
print (result1)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

Confusion Matrix:
[[ 1  1]
 [ 0 16]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.50      0.67         2
           1       0.94      1.00      0.97        16

    accuracy                           0.94        18
   macro avg       0.97      0.75      0.82        18
weighted avg       0.95      0.94      0.94        18

Accuracy: 0.9444444444444444